.languageCard {
    display: inline-block;
    vertical-align: text-top;

    width: 30vh;
    min-height: 50vh;

    padding: 1%;
    margin: 1%;

    border-width: 0.2em;
    border-style: solid;
    border-color: #61307f;

    transition: transform 0.2s, border-color 0.2s;
}

.languageCard:hover {
    border-color: #ffc800;

    transform: scale(1.05);

}

.languageCard img {
    display: block;
    width: 80%;

    /*border-radius: 5% 50% 50% 50%;*/

    margin-left: auto;
    margin-right: auto;
}

.languageCard p {
    font-size: 0.8em;
    text-align: justify-all;
}