.keyboard {
    background-color: #0000ff31;
    height: 96%;

    aspect-ratio: 2.6 / 1;

    padding: 1%;

    margin-left: auto;
    margin-right: auto;

    max-width: fit-content;

}

.keyboardRow {
    height: 8vh;
}

/* Keys */

.key {
    display: inline-block;
    position: relative;
    z-index: 1;

    background-color: white;
    border-radius: 8%;

    transition: transform 0.2s, background-color 0.2s, z-index 0.2s linear 0.2s;
    height: 7vh;

    margin: 0.2vh;

    outline: 1px solid #000;

}

.key.pressed {
    background-color: #ffc800;
    transform: scale(1.1);
    z-index: 2;


    transition: transform 0.2s, background-color 0.2s, z-index 0.2s;
}

.key * {
    color: black;
    font-size: 2.2vh;
    z-index: 0;
}

.key.simple {
    width: 7vh;
}

.key.backspace {
    width: 12.6vh;
    border-radius: 5px;
}

.key.tab {
    width: 9.4vh;
}

.key.caps {
    width: 9.8vh;
}

.key.big {
    width: 8.4vh;
}

.key.spacebar {
    width: 47.2vh;
    border-radius: 5px;
}

.key.bigShift {
    width: 18.6vh;
    border-radius: 5px;
}

.key.newline {
    width: 10vh;
}

.key.bigNewline {
    width: 10vh;
}



/* Characters */

.char {
    position: relative;
    float: left;

}

.mainChar {
    top: 3.6vh;
    left: 1.4vh;

    font-size: 2.6vh;

}

.shiftChar {
    top: 0.4vh;
    left: 0.4vh;
}

.altChar {
    top: 3.6vh;
    left: 2.4vh;
}

.capsLock > p:nth-child(2) {
    left: -5.6vh;
}


/*.keyboard {*/
/*    background-color: #0000ff31;*/
/*    height: 96%;*/

/*    padding: 1%;*/

/*    margin-left: auto;*/
/*    margin-right: auto;*/

/*    max-width: fit-content;*/

/*}*/

/*.keyboardRow {*/
/*    height: 4vw;*/
/*}*/

/*!* Keys *!*/

/*.key {*/
/*    display: inline-block;*/

/*    background-color: white;*/
/*    border-radius: 8%;*/

/*    height: 3.5vw;*/
/*    margin: 0.1vw;*/

/*    transition: transform 0.2s, background-color 0.2s;*/

/*}*/

/*.key.pressed {*/
/*    background-color: #ffc800;*/
/*    transform: scale(1.1);*/
/*}*/

/*.key * {*/
/*    color: black;*/
/*    font-size: 1.1vw;*/
/*}*/

/*.key.simple {*/
/*    width: 3.5vw;*/
/*}*/

/*.key.backspace {*/
/*    width: 6.3vw;*/
/*    border-radius: 5px;*/
/*}*/

/*.key.tab {*/
/*    width: 4.7vw;*/
/*}*/

/*.key.caps {*/
/*    width: 4.9vw;*/
/*}*/

/*.key.big {*/
/*    width: 4.2vw;*/
/*}*/

/*.key.spacebar {*/
/*    width: 23.6vw;*/
/*    border-radius: 5px;*/
/*}*/

/*.key.bigShift {*/
/*    width: 9.3vw;*/
/*    border-radius: 5px;*/
/*}*/

/*.key.newline {*/
/*    width: 5vw;*/
/*}*/

/*.key.bigNewline {*/
/*    width: 5vw;*/
/*}*/



/*!* Characters *!*/

/*.char {*/
/*    position: relative;*/
/*    float: left;*/

/*}*/

/*.mainChar {*/
/*    top:1.8vw;*/
/*    left: 0.7vw;*/

/*    font-size: 1.3vw;*/

/*}*/

/*.shiftChar {*/
/*    top: 0.2vw;*/
/*    left: 0.2vw;*/
/*}*/

/*.altChar {*/
/*    top:1.8vw;*/
/*    left: 1.2vw;*/
/*}*/

/*.capsLock > p:nth-child(2) {*/
/*    left: -2.8vw;*/
/*}*/