
.keyWrapper {
    display: inline-block;
    background-color: #fff6d6;
    border-radius: 10%;
    margin: 0.3vw;
    height: 4vw;

    vertical-align: text-top;

}

.key {
    display: inline-block;
    margin: 0.3vw;
    color: black;
    font-size: 0.8vw;

    position: relative;
    left: 0.8vw;
}

.shiftValue {
    display: block;
    color: red;
}

.shiftValue, .altGrValue {

    font-size: 1.2vw;
}

.keyValue, .altGrValue {
    display:inline-block;
    position: relative;

    bottom: 1vw;
}

:not(.hasShift) > .keyValue {
    position: relative;

    top: 1.5vh;
    left: 2.4vh;
}

.keyValue {
    font-size: 1.5vw;
}



.keySize0 {
    width: 4vw;
}

.keySize1 {
    width: 5.5vw;
}

.keySize2 {
    width: 6.5vw;
}

.keySize3 {
    width: 8vw;
}

.keySize4 {
    width: 9vw;
}

.keySize5 {
    width: 12vw;
}

.keySize6 {
    width: 26vw;
    border-radius: 5px;
}